<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzl.csservice.mapper.CustomerLossMapper">
    <update id="updateCustomerLossStatus">
        update customer_loss set status = #{lossStatus} where id= #{lossId}
    </update>


    <insert id="insertCustomerLossList">
        INSERT INTO customer_loss (id, customer_id,loss_date,reason,status)
        VALUES
        <foreach collection ="customerLossList" item="customerLoss" separator =",">
            (#{customerLoss.id},#{customerLoss.customerId},#{customerLoss.lossDate},#{customerLoss.reason},#{customerLoss.status})
        </foreach>
    </insert>
</mapper>
